body {
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

.hero,
.main-banner {
    color: white;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height: 460px;
    background-color: rgba(22, 46, 62, .7);
    text-align: center;
    padding: 10px;
    flex-flow: row nowrap;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
}

.main-banner-content {
    width: 100%;
}

.hero a,
.main-banner a {
    color: white;
}


.social-share {
    text-align: center;
    padding: 10px;
}

.social-share h4 {
    text-align: center;
    font-weight: normal;
    font-size: 13px;
    margin: 5px 0;
}

.social-share a {
    color: white;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    line-height: 30px;
}

.social-share-icon {
    color: white;
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px;
}

.social-share .icon {
    fill: white;
    transition: opacity 0.1s;
}

.social-share .icon:hover {
    transition: opacity 0.1s;
    opacity: 0.9;
}

.main-button {
    display: block;
    appearance: none;
    border-radius: none;
    border: 3px solid salmon;
    background: white;
    display: inline-block;
    padding: 0.5em 1em;
    margin: auto;
    font-size: 20px;
    line-height: 1.2;
    color: salmon;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    top: 0;
    opacity: 1;
}

.main-button:hover {
    top: 2px;
    opacity: 0.9;
    transition: all 0.2s;
}
